.recipeCard {
  width: 270px;
  height: 370px;
  border: 1px solid rgb(201, 201, 201);
  margin: 10px;
  border-radius: 10px;
}

.recipeImg {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 230px;
}

.recipeTitle {
  text-align: left;
  padding: 1px 5px;
}

.recipeDescription {
  text-align: left;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(36, 36, 36);
}
